/* global */
:root {
    background-color: black;
    color: white;
    font-family: 'Lexend';
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 12px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(173, 0, 255);
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: black;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a,
a:visited {
    color: white;
}

button {
    border: none;
    background: none;
}

button:hover {
    filter: invert(50%);
}

.pageContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0;
}

.genericHeading {
    font-size: 8rem;
    font-weight: 400;
    padding: 0 1rem;
}

.dotBackground {
    background-image: url(background.svg);
    background-position-x: var(--scroll);
}

/* menu*/
.menu {
    position: fixed;
    background: rgb(173, 0, 255);
    border: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: width 1s, height 1s, border-radius 200ms;
}

.menuNormal {
    top: .7rem;
    right: .7rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.menuExpanded {
    top: .5rem;
    right: .5rem;
    width: 8rem;
    height: 6rem;
    border-radius: 15px;
    padding: .5rem;
}

#menuButton {
    font-size: 2rem;
    color: white;
}

#menuList {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

/* welcome page */
.welcomeContainer {
    width: 60%;
    height: 60%;
    padding: 3rem;
}

#welcome {
    font-size: 10rem;
    font-weight: 400;
}

#welcomeText {
    font-size: 2rem;
}

#name,
#school>a {
    color: rgb(173, 0, 255);
    font-weight: 400;
    font-size: larger;
    text-decoration: none;
}

#school>a:hover {
    text-decoration: underline;
}

.shapeOneContainer {
    height: 100%;
    width: 30%;
}

.shapeOne {
    height: 110%;
    width: 100%;
    border-radius: 0 1% 150% 0;
    background: rgb(173, 0, 255);
    background: linear-gradient(180deg, rgba(173, 0, 255, 1) 0%, rgba(173, 0, 255, 1) 20%, rgba(0, 255, 41, 1) 60%);
}

.aboutMeContainer {
    width: 75%;
    height: 90%;
    padding: 0 2rem;
    margin-top: 4rem;
}

#about {
    margin-bottom: 2rem;
}

#aboutText {
    font-size: 1.7rem;
}

.links {
    display: flex;
    flex-direction: row;
    height: 3rem;
    gap: 1rem;
}

.link {
    height: 3rem;
    width: 3rem;
}

.icon {
    background-color: white;
    display: inline-block;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
}

#github {
    mask-image: url(icons/github.svg);
    height: 100%;
    width: 100%;
}

#mail {
    mask-image: url(icons/mail.svg);
    height: 100%;
    width: 100%;
}

.portraitBorder {
    background-color: rgb(173, 0, 255);
    padding: 1rem;
    margin-right: 1.5rem;
    margin-top: 25vh;
    border-radius: 15px;
}

#photo {
    border-radius: 15px;
}

/* skills page */
.skillsBoxes {
    width: 97vw;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.skillsBox {
    border: .5rem solid rgb(173, 0, 255);
    border-radius: 15px;
    background-color: black;
    padding: 1.5rem;
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skillsBoxText {
    font-size: 2rem;
}

.skillsIcon {
    height: 3rem;
    width: 3rem;
}

#pLangsIcon {
    mask-image: url(icons/chip.svg);
}

#webDevIcon {
    mask-image: url(icons/code.svg);
}

#langsIcon {
    mask-image: url(icons/globe.svg);
}

#otherSkillsIcon {
    mask-image: url(icons/star.svg);
}

.moreInfoIcon {
    mask-image: url(icons/info.svg);
    height: 1rem;
    width: 1rem;
}

/* skills dialog */

#dialog {
    background-color: black;
    border: .5rem solid rgb(173, 0, 255);
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    width: 25vw;
}

#dialogContent {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#skillsDialogContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.circleIcon {
    height: 1rem;
    width: 1rem;
}

.circleFilledIcon {
    mask-image: url(icons/circle-filled.svg);
}

.circleOutlineIcon {
    mask-image: url(icons/circle.svg);
}

#closeIcon {
    mask-image: url(icons/xmark.svg);
    height: 2rem;
    width: 2rem;
}

/* project */
#projectBoxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1.5rem;
    gap: 2rem;
}

.projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: .5rem solid rgb(173, 0, 255);
    padding: .5rem;
    border-radius: 15px;
    background-color: black;
}

.projectBoxHeading {
    font-size: 3rem;
    font-weight: 400;
}

.projectBoxText {
    font-size: 1.5rem;
    text-align: center;
}

.githubProjectIcon {
    mask-image: url(icons/github.svg);
    height: 2rem;
    width: 2rem;
}

@media only screen and (max-width: 600px) {
    .menuNormal {
        top: auto;
        bottom: .7rem;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }

    .menuListElement {
        margin: 1rem 0;
    }

    .menuExpanded {
        top: auto;
        bottom: .5rem;
        width: 6.5rem;
        height: 7.5rem;
        border-radius: 15px;
    }

    .shapeOneContainer {
        height: 5rem;
        width: 100vw;
    }

    .shapeOne {
        height: 100%;
        width: 100%;
        border-radius: 0;
        background: linear-gradient(to left, rgba(173, 0, 255, 1) 0%, rgba(173, 0, 255, 1) 20%, rgba(0, 255, 41, 1) 60%);
    }

    .pageContainer {
        flex-direction: column;
        height: auto;
        width: 98vw;
        padding: 0;
    }

    .welcomeContainer {
        width: 95%;
        padding: 1rem;
        text-align: center;
    }

    #welcome {
        font-size: 5rem;
        font-weight: 400;
    }

    #welcomeText {
        font-size: 1.5rem;
    }

    .aboutMeContainer,
    .skillsContainer,
    .projectsContainer {
        width: 95%;
        height: 100%;
        padding: 1rem;
        text-align: center;
    }

    .genericHeading {
        font-size: 4rem;
    }

    #aboutText {
        font-size: 1.25em;
        background-color: rgba(0, 0, 0, .2);
    }

    .links {
        justify-content: center;
        height: 2.5rem;
        width: 100%;
    }

    .link {
        height: 2.5rem;
        width: 2.5rem;
    }

    .portraitContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .portraitBorder {
        width: fit-content;
        padding: 1rem;
        margin-top: 0;
        margin-right: 0;
    }

    .skillsBoxes {
        width: 100%;
        padding: 0;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .skillsBox {
        width: 50vw;
        padding: 1rem;
    }

    .skillsBoxText {
        margin-top: .5rem;
    }

    #dialog,
    .projectBox {
        width: 80vw;
    }

    #projectBoxes {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
}